.nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li {
    margin: 0 1rem;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #ccc;
}